@tailwind base;
@tailwind components;
@tailwind utilities;


/* custom scroll bar */
/* custom scroll bar class*/
.custom-scrollbar {
    scrollbar-width: thin;
    scrollbar-color: rgba(136, 136, 136, 1) white;
}

.show-scrollbar {
}

.hide-scrollbar {
}

/* height and width */
.custom-scrollbar::-webkit-scrollbar {
    height: 6px;
    width: 6px;
}

.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Track */
.custom-scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 1);
    border-radius: 10px;
}

/* Handle on hover */
.show-scrollbar:hover::-webkit-scrollbar {
    display: block;
}
/* custom scroll bar class*/